h1 {
  font-size: large;
  style: bold;
}
p{background-color: rgb(107, 15, 15);}
   margin: 20px;
   padding: 20px;
   border-radius: 20px;
   display: 
   }
footer {
    font-size: large;
    style: bold;
    background-color: blue;
    
}